# This file contains user instructions that CSPAM takes into account when running the pipeline.
[DEFAULT]


# Indicate the pipeline steps to perform.
# To invoke all features, use: steps = plot, preflag, setjy, bandpass, cal, selfcal, peel, createimage
# Note that you cannot order 'peel' (peeling) without ordering 'selfcal' (self calibration) - 'peel' relies on 'selfcal' results.
steps = preflag, setjy, bandpass, cal, createimage

# Indicate the directory where the Measurement Sets to run CSPAM on can be found.
# Make sure there is no '/' at the end of the path.
data_dir = /data1/MartijnOei/martijn_400mugs_pilot/DDTB247-GWB_FULLPOL


# MS-specific input
# Indicate the names of all MSs (these are directories) in the list below.
[DDTB247-GWB_FULLPOL.MS]

# Scans (IDs) to be used for the calibrator(s). No input means all scans are used. Scan IDs start at 1.
cal_scans = 

# Scans (IDs) to be used for the target(s). No input means all scans are used. Scan IDs start at 1.
tgt_scans = 2

# Fields (IDs) to be used for specific types of calibration. Field IDs start at 0.
# No input means the calibrator(s) is / are selected automatically (the first it finds),
# and this one will be used for all purposes.
# Note that this selection accounts for the scans to be used in 'cal_scans' (see above).
flux_cal_field = 
phase_cal_field = 
leakage_cal_field = 
position_cal_field = 
angle_cal_field = 


# Note that the following options are not used in the pipeline yet.
# Spectral window (ID) to be used. No input means no window. Spectral window IDs start at 0.
spw =

# Percentage of central channels. Input '0' means no central channels.
central_chan_percentage = 0

# Flags in ant:time format. No input means either all antennas or all time ranges.
# Example: flag = C14,E03,E04,S01,W01=; =22:30:00~22:43:00; C03=22:52:30~22:55:30
flag =